#!/usr/bin/make -f

export DH_VERBOSE=1

override_dh_auto_build:
	ANT_OPTS="-Xmx1024M -Xss64M" ant -f debian/simpbuild.xml build docs dist

override_dh_auto_clean:
	rm -rf simpbuild

override_dh_compress:
	dh_compress -Xscript.js

%:
	dh $@
