#!/usr/bin/make -f

export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir
	ANT_OPTS="-Xmx1024M -Xss64M" ant -f debian/simpbuild.xml build docs dist
	touch build-stamp

clean:
	dh clean
	rm -rf simpbuild

%:
	dh $@
